{% extends "base.html" %}

{% load static %}

{% block title %}
    Личный кабинет - Стрела Амура
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/lk/lk.css' %}">
    <link rel="stylesheet" href="{% static 'css/lk/lk_edit_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_messages.css' %}">
{% endblock %}

{% block name %}
  
{% endblock %}

{% block content %}
    <main style="display: flex;">
    <aside class="sidebar">
        <button class="sidebar-button" onclick="location.href='{% url 'edit_profile' %}'">Профиль</button>
        <button class="sidebar-button" onclick="location.href='{% url 'submit_review' %}'">Мои отзывы</button>
        <button class="sidebar-button" onclick="location.href='{% url 'get_notifications' %}'">Уведомления</button>
        <button class="sidebar-button" onclick="location.href='{% url 'get_bonuses' %}'">Бонусы</button>
        <button class="sidebar-button" onclick="location.href='{% url 'get_training' %}'">Обучение</button>
        <button class="sidebar-button" onclick="location.href='{% url 'get_help' %}'">Помощь</button>
        <form class="logout-form" method="post" action="{% url 'make_logout' %}">
            {% csrf_token %}
            <button type="submit" class="sidebar-button logout-button">Выйти из ЛК</button>
        </form>
    </aside>

    <div class="content-container-edit-profile">
    <section id="content-section" style="flex: 1;">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form class="person-profile-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
        <div class="form-group">
            <label for="date_of_birth">{{ form.date_of_birth.label }}</label><br>
            {{ form.date_of_birth }}
        </div>
        <div class="form-group">
            <label for="country">{{ form.country.label }}</label><br>
            {{ form.country }}
        </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="city">{{ form.city.label }}</label><br>
                    {{ form.city }}
                </div>
                <div class="form-group">
                    <label for="experience">{{ form.experience.label }}</label><br>
                    {{ form.experience }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="messenger">{{ form.messenger.label }}</label><br>
                    {{ form.messenger }}
                </div>
                <div class="form-group">
                    <label for="photo">{{ form.photo.label }}</label><br>
                    {{ form.photo }}
                </div>
            </div>
            
            <div class="button-container-save-profile">
                <button class="save-edit-profile-button">Сохранить изменения</button>
            </div>
            
        </form>
    </section>


        <div class="profile-container">
        <div>
            <h4 style="margin: 0; line-height: 1.5; font-size: 20px">Почта: {{ user.email }}</h4>
            <h4 style="margin: 0; line-height: 1.5; font-size: 20px">Телефон: {{ user.number }}</h4>
        </div>
            {% if user.photo %}
                <img src="{{ user.photo.url }}" alt="Фото пользователя" width="100%" height="150">
                        {% else %}
                <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Фото пользователя" width="150" height="150">
            {% endif %}
        </div>
    </div>

</main>

{% endblock %}
