{% extends "base.html" %}

{% load static %}

{% block title %}
    Личный кабинет - Стрела Амура
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/lk/lk.css' %}">
    <link rel="stylesheet" href="{% static 'css/lk/lk_get_courses.css' %}">
{% endblock %}

{% block name %}

{% endblock %}

{% block content %}
    <main style="display: flex;">
    
        <aside class="sidebar">
            <button class="sidebar-button" onclick="location.href='{% url 'edit_profile' %}'">Профиль</button>
            <button class="sidebar-button" onclick="location.href='{% url 'submit_review' %}'">Мои отзывы</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_notifications' %}'">Уведомления</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_bonuses' %}'">Бонусы</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_training' %}'">Обучение</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_help' %}'">Помощь</button>
            <form class="logout-form" method="post" action="{% url 'make_logout' %}">
                {% csrf_token %}
                <button type="submit" class="sidebar-button logout-button">Выйти из ЛК</button>
            </form>
        </aside>

         <section class="course-section">
            <div id="courseContainer">
                {% if user.courses.all %}
                    <div id="availableCourses">
                        <h2>Мои курсы:</h2>
                        <div class="course-list">
                            {% for course in user.courses.all %}
                                <div class="course-item">
                                    <!-- Фоновое изображение курса -->
                                    <img src="{{ course.image.url }}" alt="{{ course.title }}" class="course-image">
                                    <!-- Карточка с информацией о курсе -->
                                    <div class="course-info">
                                        <h4>{{ course.title|safe }}</h4>
                                        <p><strong>Тип курса:</strong> {{ course.get_course_type_display }}</p>
                                        <p><strong>Кол-во уроков:</strong> {{ course.lessons.count }}</p>
                                    </div>
                                    <!-- Кнопка "Продолжить обучение!" -->
                                    <div class="course-button">
                                        <button class="sidebar-button" onclick="location.href='{% url 'continue_learning' course.id %}'">Продолжить обучение</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <h4>У вас нет записанных курсов.</h4>
                {% endif %}
            </div>
        </section>

    </main>
{% endblock %}