{% extends "base.html" %}

{% load static %}

{% block title %}
    Личный кабинет - Стрела Амура
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/lk/lk.css' %}">
    <link rel="stylesheet" href="{% static 'css/lk/lk_notifications.css' %}">
{% endblock %}

{% block name %}

{% endblock %}

{% block content %}
    <main style="display: flex;">
    
        <aside class="sidebar">
            <button class="sidebar-button" onclick="location.href='{% url 'edit_profile' %}'">Профиль</button>
            <button class="sidebar-button" onclick="location.href='{% url 'submit_review' %}'">Мои отзывы</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_notifications' %}'">Уведомления</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_bonuses' %}'">Бонусы</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_training' %}'">Обучение</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_help' %}'">Помощь</button>
            <form class="logout-form" method="post" action="{% url 'make_logout' %}">
                {% csrf_token %}
                <button type="submit" class="sidebar-button logout-button">Выйти из ЛК</button>
            </form>
        </aside>

        <section >
            <div class="notifications">
                <h2>Уведомления</h2>
                <ul class="notification-list">
                    {% for notification in person_notifications %}
                        <li class="notification-item" onclick="toggleNotification('notification{{ forloop.counter }}')">
                            <h3 class="notification-subject">{{ notification.topic }}</h3>
                            <p class="notification-preview" id="notification{{ forloop.counter }}" style="display: none;">
                                {{ notification.message }}
                            </p>
                        </li>
                    {% empty %}
                        <li class="notification-item">
                            <h3 class="notification-subject">Нет уведомлений</h3>
                            <p class="notification-preview">У вас нет новых уведомлений.</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
    
    <script>
        function toggleNotification(id) {
            const notification = document.getElementById(id);
            const parentItem = notification.closest('.notification-item');
    
            // Переключаем класс active для родительского элемента
            parentItem.classList.toggle('active');
    
            // Проверяем, отображается ли текст уведомления
            if (notification.style.display === "none" || notification.style.display === "") {
                notification.style.display = "block";
            } else {
                notification.style.display = "none";
            }
        }
    </script>
    
{% endblock %}
