{% extends "base.html" %}

{% load static %}

{% block title %}
    Личный кабинет - Стрела Амура
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/lk/lk.css' %}">
    <link rel="stylesheet" href="{% static 'css/lk/lk_reviews.css' %}">
{% endblock %}

{% block name %}

{% endblock %}

{% block content %}
    <main style="display: flex;">
    
        <aside class="sidebar">
            <button class="sidebar-button" onclick="location.href='{% url 'edit_profile' %}'">Профиль</button>
            <button class="sidebar-button" onclick="location.href='{% url 'submit_review' %}'">Мои отзывы</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_notifications' %}'">Уведомления</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_bonuses' %}'">Бонусы</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_training' %}'">Обучение</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_help' %}'">Помощь</button>
            <form class="logout-form" method="post" action="{% url 'make_logout' %}">
                {% csrf_token %}
                <button type="submit" class="sidebar-button logout-button">Выйти из ЛК</button>
            </form>
        </aside>

        <section style="display: flex; padding-left: 20px;">
        
        <form class="form-review" method="post" action="{% url 'submit_review' %}" style="flex: 1;">
            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            <h2>Оставить отзыв</h2>
        
            {% csrf_token %}
            <div>
                <label for="course">Выберите курс:</label>
                <select id="course" name="course">
                    {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.title|safe }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="rating">Рейтинг:</label>
                <select id="rating" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                </select>
            </div>
            <div>
                <label for="review">Отзыв:</label>
                <textarea id="review" name="review" rows="4" required></textarea>
            </div>

            <div class="submit-button-review-block"> <!-- Применение нового класса -->
                <button class="submit-button-review" type="submit">Отправить отзыв</button>
            </div>

        </form>
        
        <form class="reviews-form" method="post" action="{% url 'submit_review' %}" style="flex: 1;">
            <h2>Мои отзывы</h2>
            <ul>
                {% for review in reviews %}
                    <li>
                        <strong>{{ review.course.title|safe }}</strong> - Рейтинг: {{ review.rating }}<br>
                        {{ review.text }}<br>
                        <small>Дата: {{ review.created_at }}</small>
                    </li>
                {% empty %}
                    <li>У вас пока нет отзывов.</li>
                {% endfor %}
            </ul>
        </form>
    </section>
    </main>

{% endblock %}
