form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff; /* Белый фон для формы */
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 15px;
    font-weight: 700; /* Жирный шрифт для меток */
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: transparent; /* Прозрачный фон */
    color: #F83C86E5; /* Цвет текста кнопки */
    padding: 10px 25px; /* Отступы внутри кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border: 2px solid #FB91BEE5; /* Обводка кнопки */
    border-radius: 5px; /* Закругленные углы */
    font-size: 18px; /* Размер шрифта */
    font-weight: bold; /* Делаем шрифт жирным */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета фона и текста */
    font-family: 'Roboto', serif;
}

form button:hover {
    background-color: #FB91BEE5; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}