.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px; /* Установите фиксированную ширину */
    margin-top: 85px;
    padding-left: 100px;
    padding-right: 100px;
}

.sidebar-button {
    padding: 20px; /* Отступы внутри кнопок */
    background-color: #FBA1CC87; /* Цвет фона кнопок */
    color: #242626; /* Цвет текста на кнопках */
    border: 0; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    text-align: left; /* Выравнивание текста */
    width: 250px; /* Установите фиксированную ширину для кнопок */
    margin: 5px 0; /* Отступы между кнопками */
    font-family: "Raleway", sans-serif;
    font-size: 25px;
}

.sidebar-button:hover {
    background-color: #F83C86E5; /* Цвет фона при наведении */
}

.sidebar-button:focus {
    outline: none; /* Убираем обводку при фокусе */
}

.logout-form {
    border: none; /* Убираем рамку у формы */
    padding: 0; /* Убираем внутренние отступы у формы */
    margin: 0; /* Убираем внешние отступы у формы */
    box-shadow: none; /* Убираем тень у формы */
    background-color: #f6f6f6;
    color: #f6f6f6;
}

.notification-count {
    background-color: #F83C86E5; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    border-radius: 50%; /* Круглая форма */
    min-width: 20px; /* Минимальная ширина */
    min-height: 20px; /* Минимальная высота */
    padding: 2px; /* Отступы */
    display: inline-flex; /* Используем flexbox для центрирования текста */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    margin-left: 5px; /* Отступ слева */
    font-size: 0.8em; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}

