.notifications {
    margin-top: 77px; /* Внутренний отступ сверху */
    margin-bottom: 40px;
    padding-left: 130px; /* Внутренний отступ слева */
    font-size: 20px; /* Размер шрифта */
    width: 840px; /* Фиксированная ширина */
}

.notifications h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.notification-list {
    list-style-type: none;
    padding: 0;
}

.notification-item {
    position: relative; /* Убедитесь, что родительский элемент имеет относительное позиционирование */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.notification-item:hover {
    background-color: #f0f0f0;
}

.notification-subject {
    font-size: 18px;
    margin: 0;
    color: #F83C86E5; /* Цвет текста */
}

.notification-preview {
    font-size: 22px;
    color: #4c5050;
    margin-top: 15px;
}

.notification-indicator {
    position: absolute; /* Устанавливаем абсолютное позиционирование для кружка */
    top: 50%; /* Позиционируем по центру вертикально */
    right: 30px; /* Располагаем кружок на 10px от правой границы */
    transform: translateY(-50%); /* Сдвигаем кружок на половину его высоты для центрирования */
    width: 10px; /* Ширина кружка */
    height: 10px; /* Высота кружка */
    background-color: rgb(246, 105, 172); /* Цвет кружка */
    border-radius: 50%; /* Делаем кружок круглым */
}
