.form-review {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: flex-start; /* Выравнивание по левому краю */
    width: 600px; /* Установите ширину формы на 100% или укажите конкретное значение */
    max-width: 600px; /* Максимальная ширина формы, если необходимо */
    margin: 0 auto; /* Центрирование формы */
}

.form-review textarea {
    width: 600px; /* Установите ширину текстового поля на 100% */
    height: 200px;
    box-sizing: border-box; /* Учитывайте отступы и границы в ширине */
}

.form-review select {
    width: 100%; /* Установите ширину на 100% для растягивания по всей ширине родительского контейнера */
    padding: 8px; /* Добавьте отступы для увеличения размера */
    font-size: 16px; /* Увеличьте размер шрифта для лучшей читаемости */
    border: 1px solid #ccc; /* Добавьте границу */
    border-radius: 4px; /* Закруглите углы */
    box-sizing: border-box; /* Учитывайте отступы и границы в ширине */
}

.reviews-form {
    width: 400px;
    margin-left: 100px;
}
