/*body {*/
/*    font-family: 'Roboto', serif; !* Основной шрифт для всего текста *!*/
/*}*/

/*h2 {*/
/*    font-family: 'Roboto', serif; !* Шрифт для заголовков *!*/
/*}*/

/*p, ul {*/
/*    font-family: 'Roboto', serif; !* Шрифт для параграфов и списков *!*/
/*}*/

/*nav ul li a {*/
/*    color: #fff; !* Белый цвет для навигационных ссылок *!*/
/*    text-decoration: none;*/
/*    text-shadow: 1px 1px 0 #000; !* Черная обводка для навигационных ссылок *!*/
/*    font-size: 1.2rem; !* Увеличенный размер шрифта *!*/
/*    padding: 10px; !* Добавление отступов для улучшения кликабельности *!*/
/*}*/

/*nav ul li a:hover {*/
/*    text-decoration: underline; !* Подчеркивание при наведении *!*/
/*}*/

html, body {
    height: 100%; /* Убедитесь, что html и body занимают 100% высоты */
    margin: 0; /* Убираем отступы по умолчанию */
}

body {
    display: flex;
    /*grid-template-rows: auto 1fr auto; !* Заголовок, контент, футер *!*/
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', serif; /* Основной шрифт */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Светлый нейтральный цвет фона */
    /*background-size: contain; !* Заполнение всего экрана *!*/
    /*background-position: center; !* Центрирование изображения *!*/
}

.content-block {
    flex: 1;
    background-color: #f0f0f0; /* Замените на нужный вам цвет */
    padding: 20px; /* Добавьте отступы для лучшего отображения */
    border-radius: 8px; /* Закругленные углы (по желанию) */
}

header {
    background-color: #ffffff;
    color: #333435; /* Цвет для текста заголовка */
    padding: 10px 20px; /* Отступы для заголовка */
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Центрируем элементы по вертикали */
    font-family: 'Roboto', serif; /* Шрифт для заголовка */
    height: 100px;
    justify-content: space-between; /* Распределяем пространство между элементами */
}

.header-left {
    display: flex; /* Используем flexbox для выравнивания элементов в левой части */
    align-items: center; /* Центрируем элементы по вертикали */
    margin-left: 50px; /* Отступ слева от края страницы */
}

.header-right {
    display: flex; /* Используем flexbox для выравнивания элементов в правой части */
    align-items: center; /* Центрируем элементы по вертикали */
    margin-right: 50px; /* Отступ справа от края страницы */
}

.logo {
    height: 110%; /* Высота логотипа, можно настроить по желанию */
    max-width: 100px; /* Максимальная ширина логотипа, чтобы он не выходил за границы */
    margin-left: 200px;
    display: flex; /* Используем flexbox для выравнивания элементов в строку */
    align-items: normal; /* Выравнивание по центру по вертикали */
    transition: box-shadow 0.9s ease; /* Плавный переход для тени */
}

.logo:hover {
    box-shadow: 0 4px 15px #FB91BEE5; /* Тень вокруг логотипа при наведении */
}

.courses-button {
    background-color: transparent; /* Прозрачный фон */
    color: #F83C86E5; /* Цвет текста кнопки */
    padding: 20px 45px; /* Отступы внутри кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border: 2px solid #FB91BEE5; /* Обводка кнопки */
    border-radius: 5px; /* Закругленные углы */
    font-size: 18px; /* Размер шрифта */
    font-weight: bold; /* Делаем шрифт жирным */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета фона и текста */
    font-family: 'Roboto', serif;
}

.courses-button:hover {
    background-color: #FB91BEE5; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}

.courses-dropdown {
    position: relative; /* Для позиционирования выпадающего списка */
    display: inline-block; /* Чтобы кнопка и выпадающий список были в одной строке */
}

.courses-button {
    display: inline-block; /* Убедитесь, что кнопка является блочным элементом */
}

.dropdown-content {
    display: none; /* Скрываем выпадающий список по умолчанию */
    position: absolute; /* Позиционируем его относительно родителя */
    background-color: white; /* Цвет фона выпадающего списка */
    border: 2px solid #FB91BEE5; /* Обводка выпадающего списка */
    border-radius: 5px; /* Закругленные углы */
    z-index: 1; /* Чтобы выпадающий список был поверх других элементов */
    transition: opacity 0.3s ease; /* Плавный переход */
    opacity: 0; /* Начальная прозрачность */
    width: 100%; /* Ширина выпадающего списка равна ширине кнопки */
    top: 100%; /* Позиционируем его строго под кнопкой */
    left: 0; /* Выравниваем по левому краю */
    box-sizing: border-box; /* Учитываем границы и отступы в ширине */
}

.courses-dropdown:hover .dropdown-content {
    display: block; /* Показываем выпадающий список при наведении */
    opacity: 1; /* Делаем его видимым */
}

.dropdown-item {
    padding: 15px 20px; /* Отступы внутри кнопок выпадающего списка */
    color: #F83C86E5; /* Цвет текста */
    font-size: 18px; /* Размер шрифта */
    font-weight: bold; /* Делаем шрифт жирным */
    text-decoration: none; /* Убираем подчеркивание */
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем текст по горизонтали */
    align-items: center; /* Центрируем текст по вертикали */
    height: 100%; /* Задаем высоту для центрирования */
}

.dropdown-item:hover {
    background-color: #FB91BEE5; /* Цвет фона при наведении на элемент выпадающего списка */
    color: white; /* Цвет текста при наведении */
}

.lk-dropdown {
    position: relative; /* Для позиционирования выпадающего списка */
    display: inline-block; /* Чтобы кнопка и выпадающий список были в одной строке */
}

.lk-button {
    background-color: transparent; /* Прозрачный фон */
    color: #F83C86E5; /* Цвет текста кнопки */
    padding: 20px 20px; /* Отступы внутри кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border: 2px solid #FB91BEE5; /* Обводка кнопки */
    border-radius: 5px; /* Закругленные углы */
    font-size: 18px; /* Размер шрифта */
    font-weight: bold; /* Делаем шрифт жирным */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета фона и текста */
    font-family: 'Roboto', serif;
    margin-left: 500px; /* Отступ слева */
}

.lk-button {
    display: inline-block; /* Убедитесь, что кнопка является блочным элементом */
}

.lk-button:hover {
    background-color: #FB91BEE5; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}

.lk-dropdown .dropdown-content {
    display: none; /* Скрываем выпадающий список по умолчанию */
    position: absolute; /* Позиционируем его относительно родителя */
    background-color: white; /* Цвет фона выпадающего списка */
    border: 2px solid #FB91BEE5; /* Обводка выпадающего списка */
    border-radius: 5px; /* Закругленные углы */
    z-index: 1; /* Чтобы выпадающий список был поверх других элементов */
    transition: opacity 0.3s ease; /* Плавный переход */
    opacity: 0; /* Начальная прозрачность */
    width: 182px; /* Ширина выпадающего списка соответствует содержимому */
    top: 100%; /* Позиционируем его строго под кнопкой */
    box-sizing: border-box; /* Учитываем границы и отступы в ширине */
    margin-left: 501px;
}

.lk-dropdown:hover .dropdown-content {
    display: block; /* Показываем выпадающий список при наведении */
    opacity: 1; /* Делаем его видимым */
}


.contact-block {
    display: flex; /* Используем flexbox для выравнивания элементов в строку */
    align-items: center; /* Выравнивание по центру по вертикали */
}

.map-icon {
    width: 24px; /* Ширина иконки */
    height: 24px; /* Высота иконки */
    margin-left: 10px; /* Отступ слева от иконки */
    margin-right: 5px; /* Отступ справа от иконки */
}

.contacts-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: #333435; /* Цвет текста ссылки */
    font-size: 20px; /* Размер шрифта */
    font-weight: bold; /* Делаем шрифт жирным */
    transition: text-shadow 0.3s ease; /* Плавный переход для тени текста */
    margin-right: 15px;
}

.contacts-link:hover {
    text-shadow: 2px 2px 5px #FB91BEE5; /* Тень текста при наведении */
}

.icon {
    width: 30px; /* Ширина иконки */
    height: 30px; /* Высота иконки */
}

.social-icon {
    display: inline-block; /* Отображение иконок в одной строке */
    margin-left: 10px; /* Отступ слева от иконок */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff; /* Белый цвет для навигационных ссылок */
    text-decoration: none;
    text-shadow: 1px 1px 0 #000; /* Черная обводка для навигационных ссылок */
}

main {
    flex: 1;
    padding: 20px;
    background: #FFFFFFCC; /* Полупрозрачный белый фон для основного контента */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Тень для основного контента */
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff; /* Белый фон для формы */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700; /* Жирный шрифт для меток */
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #FF6FABE5; /* Телесный цвет для кнопок */
    color: #242626; /* Белый цвет текста на кнопках */
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #F4297AE5; /* Темнее телесный цвет при наведении */
}

footer {
    background-color: #ffffff;
    background-size: cover; /* Заполнение всего подвала */
    background-position: bottom; /* Отображение нижней части изображения */
    text-align: center;
    padding: 10px 0;
    color: #fff; /* Белый цвет для текста в подвале */
    text-shadow: 1px 1px 0 #000; /* Черная обводка для текста в подвале */
    width: 100%;
}

.error-messages {
    color: red; /* Цвет текста */
    background-color: #f8d7da; /* Светлый фон для выделения */
    border: 1px solid #f5c6cb; /* Рамка для выделения */
    padding: 10px; /* Отступы внутри блока */
    margin: 20px 0; /* Отступы сверху и снизу */
    border-radius: 5px; /* Закругленные углы */
}

.hidden {
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 14px;
}

.sidebar-button {
    padding: 10px; /* Отступы внутри кнопок */
    background-color: #FBA1CC87; /* Цвет фона кнопок */
    color: #242626; /* Цвет текста на кнопках */
    border: 0; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    text-align: left; /* Выравнивание текста */
    width: 200px; /* Установите фиксированную ширину для кнопок */
    margin: 5px 0; /* Отступы между кнопками */
    font-family: 'Roboto', serif;
    font-size: 20px;
}

.sidebar-button:hover {
    background-color: #F4297AE5; /* Цвет фона при наведении */
}

.sidebar-button:focus {
    outline: none; /* Убираем обводку при фокусе */
}

.logout-button {
    padding: 10px; /* Отступы внутри кнопки */
    background-color: #FF6FABE5; /* Цвет фона кнопки */
    color: #242626; /* Цвет текста на кнопке */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    text-align: left; /* Выравнивание текста */
    width: 200px; /* Установите фиксированную ширину для кнопки */
    margin: 5px 0; /* Отступы между кнопками */
}

.logout-button:hover {
    background-color: #F4297AE5; /* Цвет фона при наведении */
}

.logout-button:focus {
    outline: none; /* Убираем обводку при фокусе */
}

.logout-form {
    border: none; /* Убираем рамку у формы */
    padding: 0; /* Убираем внутренние отступы у формы */
    margin: 0; /* Убираем внешние отступы у формы */
    box-shadow: none; /* Убираем тень у формы */
    background-color: #f6f6f6; /* Устанавливаем синий цвет фона */
    color: #f6f6f6; /* Устанавливаем цвет текста, чтобы он был виден на синем фоне */
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.course-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px; /* Ширина карточки */
    overflow: hidden;
    text-align: left;
}

.course-card h3 {
    margin: 0 0 10px;
}

.course-card h4 {
    margin: 0 0 15px;
    color: #007BFF; /* Цвет цены */
}

.course-button {
    margin: 5px 0; /* Отступы между кнопками */
    padding: 10px; /* Отступы внутри кнопок */
    background-color: #FF6FABE5; /* Цвет фона кнопок */
    color: #242626; /* Цвет текста на кнопках */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    text-align: left; /* Выравнивание текста */
    width: 100%; /* Ширина кнопок на всю ширину контейнера */
}

.course-button:hover {
    background-color: #F4297AE5; /* Цвет фона при наведении */
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Отступы между карточками */
    justify-content: center; /* Центрирование карточек */
}

.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для карточек */
    border-radius: 5px; /* Закругление углов */
    overflow: hidden; /* Скрытие переполнения */
    transition: transform 0.2s; /* Плавный переход при наведении */
}

.card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
}


.card-img-top {
    width: 100%; /* Ширина изображения */
    height: 200px; /* Высота изображения */
    object-fit: cover; /* Обтяжка изображения */
}

.card-body {
    padding: 15px; /* Отступы внутри карточки */
}

.card-title {
    font-size: 1.25rem; /* Размер заголовка */
    margin-bottom: 10px; /* Отступ снизу */
}

.card-price {
    font-size: 1.1rem; /* Размер цены */
    color: #28a745; /* Цвет цены */
    margin-bottom: 10px; /* Отступ снизу */
}

.card-text {
    margin-bottom: 15px; /* Отступ снизу */
}

.btn {
    background-color: #FF6FABE5; /* Цвет кнопки */
    color: black; /* Цвет текста кнопки */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убираем рамку */
    border-radius: 0.3rem; /* Закругление углов кнопки */
    cursor: pointer; /* Указатель при наведении */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Убираем подчеркивание */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.btn:hover {
    background-color: #F4297AE5; /* Цвет кнопки при наведении (темнее) */
}

.btn:focus {
    outline: none; /* Убираем обводку при фокусе */
}

/* styles.css */

.profile-container {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
}

.profile-container img {
    width: 100px; /* Ширина фото */
    height: auto; /* Автоматическая высота */
    border-radius: 50%; /* Круглая форма */
    margin-right: 20px; /* Отступ справа от фото */
}


.profile-container {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    margin-bottom: 20px; /* Отступ снизу для разделения с кнопками */
}

.profile-container img {
    width: 100px; /* Ширина фото */
    height: auto; /* Автоматическая высота */
    border-radius: 50%; /* Круглая форма */
    margin-left: 20px; /* Отступ слева от фото */
}
