<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Title
        {% endblock %}
    </title>
    {% load static %} <!-- Загрузка тега static -->
    {% block style %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">

{#        <link rel="preconnect" href="https://fonts.googleapis.com">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>#}
{#    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Monsieur+La+Doulaise&family=Nosifer&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">#}
{#    <link rel="stylesheet" href="../static/styles.css">#}

    {% endblock %}
</head>
<body>
    <header>
    
    <a href="{% url 'index' %}">
        <img src="/static/logo.png" alt="Логотип" class="logo">
    </a>
    
     <div class="courses-dropdown">
        <a href="#" class="courses-button">Все курсы</a>
        <div class="dropdown-content">
            <a href="#" class="dropdown-item">Живое обучение</a>
            <a href="{% url 'courses' %}" class="dropdown-item">Онлайн</a>
        </div>
    </div>
    
    <div class="lk-dropdown">
        <a href="{% url 'lk_user' %}" class="lk-button">Личный кабинет</a>
        <div class="dropdown-content">
            <a href="{% url 'register' %}" class="dropdown-item">Регистрация</a>
        </div>
    </div>
    
    <div class="contact-block">
        
        <img src="/static/map-marker-icon.png" alt="Иконка отметки на карте" class="map-icon"> <!-- Иконка отметки на карте -->
    
        <a href="{% url 'contacts' %}" class="contacts-link">8 (931) 200-9-200</a> <!-- Ссылка "Контакты" -->
        
        <a href="https://t.me/your_telegram_username" target="_blank" class="social-icon">
            <img src="/static/telegram-icon.png" alt="Telegram" class="icon"> <!-- Иконка Telegram -->
        </a>
        
        <a href="https://wa.me/your_whatsapp_number" target="_blank" class="social-icon">
            <img src="/static/whatsapp-icon.png" alt="WhatsApp" class="icon"> <!-- Иконка WhatsApp -->
        </a>
        
    </div>
    
        <h1>
            {% block name %}
            {% endblock %}
        </h1>
    
    </header>

    <div class="content-block">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    <footer>
        <p>&copy; 2023 Strela Amura. Все права защищены.</p>
    </footer>
    {% endblock %}
</body>
</html>
