{% extends "base.html" %}

    {% block title %}
        Курсы - Strela Amura
    {% endblock %}

    {% block style %}
        <link rel="stylesheet" href="../static/styles.css">
    {% endblock %}

{% block name %}
    Доступные курсы
{% endblock %}

{% block content %}
    <main>
        <section>
             <div id="availableCourses">
                <h3>Базовые курсы:</h3>
                <ul>
                    {% for course in all_courses %}
                        {% if course.course_type == 'basic' %}
                            <h3>{{ course.title }}</h3>
                            <h4>{{ course.price }} руб.</h4>
                            <p>{{ course.description }}</p>
                        {% endif %}
                    {% endfor %}
                </ul>

                <h3>Курсы повышения квалификации:</h3>
                <ul>
                    {% for course in all_courses %}
                        {% if course.course_type == 'advanced' %}
                            <h3>{{ course.title }}</h3>
                            <h4>{{ course.price }} руб.</h4>
                            <p>{{ course.description }}</p>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
   
    </main>
{% endblock %}
