{% extends "base.html" %}

    {% block title %}
        Курсы - Strela Amura
    {% endblock %}

    {% block style %}
        <link rel="stylesheet" href="../static/styles.css">
    {% endblock %}

{% block name %}
    Доступные курсы
{% endblock %}

{% block content %}
    <main>
        <section>
            <h2>Наши курсы</h2>
            <ul>
                <li>
                    <h3>Курс для начинающих</h3>
                    <p><strong>Описание:</strong> Этот курс предназначен для тех, кто только начинает свой путь в мире маникюра. Вы научитесь основам ухода за ногтями, техникам нанесения лака и основам дизайна.</p>
                    <p><strong>Продолжительность:</strong> 4 недели</p>
                    <p><strong>Формат:</strong> Теория + практика</p>
                </li>
                <li>
                    <h3>Курс по классическому маникюру</h3>
                    <p><strong>Описание:</strong> Углубленный курс, который охватывает все аспекты классического маникюра, включая обработку кутикулы, массаж рук и выбор средств для ухода.</p>
                    <p><strong>Продолжительность:</strong> 6 недель</p>
                    <p><strong>Формат:</strong> Теория + практика</p>
                </li>
                <li>
                    <h3>Курс по дизайну ногтей</h3>
                    <p><strong>Описание:</strong> На этом курсе вы освоите различные техники дизайна ногтей, включая акрил, гель-лак и художественную роспись. Мы научим вас создавать уникальные и стильные дизайны для любых случаев.</p>
                    <p><strong>Продолжительность:</strong> 8 недель</p>
                    <p><strong>Формат:</strong> Теория + практика</p>
                </li>
                <li>
                    <h3>Курс для профессионалов</h3>
                    <p><strong>Описание:</strong> Этот курс предназначен для опытных мастеров, желающих обновить свои знания и освоить новые техники. Мы предлагаем мастер-классы от ведущих специалистов в индустрии.</p>
                    <p><strong>Продолжительность:</strong> 4 недели</p>
                    <p><strong>Формат:</strong> Мастер-классы + практика</p>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}
