<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strela Amura - Главная</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать в Стрела Амура</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                <li><a href="{% url 'make_login' %}">Авторизация</a></li>
                <li><a href="{% url 'courses' %}">Курсы</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Наши услуги</h2>
            <p>Мы предлагаем лучшие курсы по маникюру для начинающих и профессионалов.</p>
        </section>
        <section>
            <h2>О нашей школе маникюра</h2>
            <p><strong>Школа маникюра "Стрела Амура"</strong> — это место, где искусство маникюра становится доступным для каждого. Мы предлагаем широкий спектр курсов, которые подойдут как для начинающих, так и для профессионалов, желающих повысить свою квалификацию.</p>
        </section>
        
        <section>
            <h2>Почему выбирают нас?</h2>
            <ul>
                <li>Опытные преподаватели: Наши инструкторы — это профессионалы с многолетним опытом работы в индустрии красоты.</li>
                <li>Современное оборудование: Мы предоставляем все необходимые инструменты и материалы для обучения.</li>
                <li>Индивидуальный подход: Мы учитываем уровень подготовки каждого студента и адаптируем программу обучения под его нужды.</li>
                <li>Сертификаты: По окончании курсов вы получите сертификат, подтверждающий ваши навыки и знания.</li>
            </ul>
        </section>
        <section>
            <h2>Запишитесь на курс</h2>
            <p>Не упустите возможность стать мастером маникюра! Запишитесь на курс уже сегодня и начните свой путь к успеху в индустрии красоты. Для получения дополнительной информации свяжитесь с нами по телефону или через форму обратной связи на нашем сайте.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Strela Amura. Все права защищены.</p>
    </footer>
</body>
</html>