{% extends "base.html" %}
{% block title %}
    Strela Amura - Главная
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block name %}

{% endblock %}

{% block content %}
    <main>
        <div class="index-content-block">
            <div class="content-wrapper">
                <div class="text-content">
                    <section>
                        <h2>О нашей школе маникюра ЧЕРНЫЙ=СЕРЫЙ ЖЕЛТЫЙ=РОЗОВЫЙ БЕЛЫЙ=БЕЛЫЙ</h2>
                        <p><strong>Школа маникюра "Стрела Амура"</strong> — это место, где искусство маникюра становится доступным для каждого. Мы предлагаем широкий спектр курсов, которые подойдут как для начинающих, так и для профессионалов, желающих повысить свою квалификацию.</p>
                    </section>
                    <section>
                        <h2>Почему выбирают нас?</h2>
                        <ul>
                            <li>Опытные преподаватели: Наши инструкторы — это профессионалы с многолетним опытом работы в индустрии красоты.</li>
                            <li>Современное оборудование: Мы предоставляем все необходимые инструменты и материалы для обучения.</li>
                            <li>Индивидуальный подход: Мы учитываем уровень подготовки каждого студента и адаптируем программу обучения под его нужды.</li>
                            <li>Сертификаты: По окончании курсов вы получите сертификат, подтверждающий ваши навыки и знания.</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Запишитесь на курс</h2>
                        <p>Не упустите возможность стать мастером маникюра! Запишитесь на курс уже сегодня и начните свой путь к успеху в индустрии красоты. Для получения дополнительной информации свяжитесь с нами по телефону или через форму обратной связи на нашем сайте.</p>
                    </section>
                </div>
                <div class="image-content">
                    <img src="../static/images/my_image.jpg" alt="Описание изображения">
                </div>
            </div>
            
        </div>
    <div class="index-content-block">
            <div class="content-wrapper">
                <div class="text-content">
                    <section>
    <h2>Важность профессии мастера маникюра</h2>
    <p><strong>Профессия мастера маникюра</strong> — это не просто работа, это искусство, которое требует таланта, навыков и глубокого понимания потребностей клиентов. В современном мире, где внешний вид играет важную роль, мастера маникюра становятся настоящими художниками, создающими уникальные образы и подчеркивающими индивидуальность каждого человека.</p>
        </section>
        <section>
            <h2>Почему профессия мастера маникюра так важна?</h2>
            <ul>
                <li>Уверенность в себе: Красивые и ухоженные ногти способны значительно повысить самооценку и уверенность в себе. Мастера маникюра помогают клиентам чувствовать себя привлекательными и уверенными в любой ситуации.</li>
                <li>Творческое самовыражение: Работа мастера маникюра — это возможность проявить свою креативность. Каждый клиент — это новая история, новый дизайн и новый подход. Мастера могут экспериментировать с цветами, текстурами и формами, создавая уникальные произведения искусства на ногтях.</li>
                <li>Забота о здоровье: Мастера маникюра не только делают ногти красивыми, но и заботятся о здоровье рук и ногтей. Правильный уход и использование качественных материалов помогают предотвратить множество проблем, таких как ломкость ногтей и заболевания кожи.</li>
                <li>Социальные связи: Работа мастера маникюра — это не только создание красивых ногтей, но и возможность общения с клиентами. Мастера становятся доверенными лицами, с которыми клиенты делятся своими переживаниями и радостями, создавая особую атмосферу доверия и уюта.</li>
                <li>Перспективы карьерного роста: Профессия мастера маникюра открывает множество возможностей для карьерного роста. С опытом и дополнительным обучением можно стать преподавателем, открыть собственный салон или специализироваться на определенных техниках и стилях.</li>
            </ul>
        </section>
        <section>
            <h2>Станьте мастером маникюра!</h2>
            <p>Не упустите шанс стать частью этой увлекательной и важной профессии. Запишитесь на курсы и начните свой путь к успеху в индустрии красоты. Мы предлагаем обучение, которое поможет вам развить необходимые навыки и уверенность для работы в этой захватывающей сфере. Для получения дополнительной информации свяжитесь с нами по телефону или через форму обратной связи на нашем сайте.</p>
        </section>

                </div>
                <div class="image-content">
                    <img src="../static/images/foto_for_index_2.png" alt="Описание изображения">
                </div>
            </div>
            
        </div>
    </main>
{% endblock %}

