{% extends "base.html" %}
{% block title %}
    Strela Amura - Главная
{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/styles.css">
<style>
    .content-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .text-content {
        flex: 1;
        margin-right: 20px; /* Отступ между текстом и изображением */
    }
    .image-content {
        flex: 0 0 400px; /* Ширина изображения */
    }
    .image-content img {
        max-width: 100%; /* Адаптивное изображение */
        height: auto; /* Сохранение пропорций */
    }
</style>
{% endblock %}

{% block name %}
    Добро пожаловать в Стрела Амура
{% endblock %}

{% block content %}
    <main>
        <div class="content-wrapper">
            <div class="text-content">
                
                <section>
                    <h2>О нашей школе маникюра</h2>
                    <p><strong>Школа маникюра "Стрела Амура"</strong> — это место, где искусство маникюра становится доступным для каждого. Мы предлагаем широкий спектр курсов, которые подойдут как для начинающих, так и для профессионалов, желающих повысить свою квалификацию.</p>
                </section>
                
                <section>
                    <h2>Почему выбирают нас?</h2>
                    <ul>
                        <li>Опытные преподаватели: Наши инструкторы — это профессионалы с многолетним опытом работы в индустрии красоты.</li>
                        <li>Современное оборудование: Мы предоставляем все необходимые инструменты и материалы для обучения.</li>
                        <li>Индивидуальный подход: Мы учитываем уровень подготовки каждого студента и адаптируем программу обучения под его нужды.</li>
                        <li>Сертификаты: По окончании курсов вы получите сертификат, подтверждающий ваши навыки и знания.</li>
                    </ul>
                </section>
                <section>
                    <h2>Запишитесь на курс</h2>
                    <p>Не упустите возможность стать мастером маникюра! Запишитесь на курс уже сегодня и начните свой путь к успеху в индустрии красоты. Для получения дополнительной информации свяжитесь с нами по телефону или через форму обратной связи на нашем сайте.</p>
                </section>
            </div>
            <div class="image-content">
                <img src="../static/my_image.jpg" alt="Описание изображения">
            </div>
        </div>
    </main>
{% endblock %}
