<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обучение - Онлайн Школа</title>
    <link rel="stylesheet" href="{% static 'lk_learning.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo">
         <img src="{% static 'logo.png' %}" alt="Стрела Амура" />
        </div>
        
        <div class="cur-lesson">
            <a href="#">{{ current_lesson.title}}</a>
        </div>

        <div class="user-avatar">
            <a href="{% url 'get_training' %}">Личный кабинет</a>
            <img src="{{ user.photo.url }}" alt="Аватар пользователя" />
        </div>

    </div>

    <div class="container">
        <div class="sidebar">
            <h1 class="course-title">{{ course.title|safe }}</h1>
            <ul class="lesson-list">
                {% for lesson in lessons %}
                <li><a href="{% url 'lesson_detail' lesson.id %}">{{ lesson.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="main-content">
            {% if current_lesson %}
            <div class="lesson">
{#                <h2>{{ current_lesson.title }}</h2>#}
                <p>{{ current_lesson.content|safe }}</p>

                    {% if current_lesson.image %}
                        <div class="images-container">

                            <img src="{{ current_lesson.image.url }}" alt="Изображение урока" class="lesson-image">
                        </div>
                    {% endif %}

                   {% if current_lesson.video %}
                    <div class="video-container">
                        <video controls class="responsive-video">
                            <source src="{{ current_lesson.video.url }}" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                    {% endif %}

            </div>
            {% else %}
            <div class="lesson">
                <h3>Выберите урок для просмотра</h3>
            </div>
            {% endif %}

            <div class="assignment">
                <h2>Домашнее задание</h2>
                <p>{{ current_lesson.home_work|safe }}</p>
                <form method="POST" action="#">
                    <label for="htmlCode"></label>
                    <textarea id="htmlCode" name="html_code" rows="5" placeholder="Моё домашнее задание" style="width: 100%;"></textarea>

                    <div class="button-container">
                        <button type="submit">Отправить</button>
                        <button type="button" onclick="location.href='{% url 'next_lesson' current_lesson.id %}'">Следующий урок</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
