{% extends "base.html" %}

{% load static %}

{% block title %}
    Личный кабинет - Стрела Амура
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block name %}

{% endblock %}

{% block content %}
    <main style="display: flex;">
    
        <aside class="sidebar">
            <button class="sidebar-button" onclick="location.href='{% url 'edit_profile' %}'">Профиль</button>
            <button class="sidebar-button" onclick="location.href='{% url 'submit_review' %}'">Мои отзывы</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_notifications' %}'">Уведомления</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_bonuses' %}'">Бонусы</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_training' %}'">Обучение</button>
            <button class="sidebar-button" onclick="location.href='{% url 'get_help' %}'">Помощь</button>
            <form class="logout-form" method="post" action="{% url 'make_logout' %}">
                {% csrf_token %}
                <button type="submit" class="sidebar-button logout-button">Выйти из ЛК</button>
            </form>
        </aside>

        <section style="flex: 1; padding-left: 20px;">
            <div id="courseContainer">
                {% if user.courses.all %}
                    <div id="availableCourses">
                        <h2>Мои курсы:</h2>
                        <div class="course-list" style="display: flex; flex-wrap: wrap; gap: 20px;">
                            {% for course in user.courses.all %}
                                <div style="flex: 1 0 300px; max-width: 300px; position: relative;">
                                    <!-- Фоновое изображение курса -->
                                    <img src="{{ course.image.url }}" alt="{{ course.title }}" style="width: 100%; opacity: 0.5; height: auto; border-radius: 8px;">
                                    <!-- Карточка с информацией о курсе -->
                                    <div style="position: absolute; top: 0; left: 0; right: 0; background: rgba(255, 255, 255, 0.0); padding: 10px; border-radius: 8px 8px 0 0;">
                                        <h4>{{ course.title|safe }}</h4>
                                        <p><strong>Тип курса:</strong> {{ course.get_course_type_display }}</p>
                                        <p><strong>Кол-во уроков:</strong> {{ course.lessons.count }}</p>
                                    </div>
                                    <!-- Кнопка "Продолжить обучение!" -->
                                    <div style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center;">
                                        <button class="sidebar-button" onclick="location.href='{% url 'continue_learning' course.id %}'" style="width: 100%; padding: 10px;">Продолжить обучение</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <h4>У вас нет записанных курсов.</h4>
                {% endif %}
            </div>
        </section>




    </main>
{% endblock %}