{% extends "base.html" %}
{% block title %}
    Регистрация - Strela Amura
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/styles.css">
{% endblock %}

{% block name %}
    Регистрация
{% endblock %}    

{% block content %}
    <main>
        <form method="post" id="registration-form" novalidate>
            {% csrf_token %}
        
            <label for="name">Логин:</label>
            <input type="text" id="name" name="name" value="{{ name }}" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ email }}" required>
            
{#            <label for="first_name">Имя:</label>#}
{#            <input type="text" id="first_name" name="first_name" value="{{ first_name }}" required>#}
{#            #}
{#            <label for="last_name">Фамилия:</label>#}
{#            <input type="text" id="last_name" name="last_name" value="{{ last_name }}" required>#}
            
            <label for="phone">Номер телефона:</label>
            <input type="tel" id="phone" name="phone" value="+7 (___) ____-____" onfocus="this.value=''" required>

            
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Зарегистрироваться</button>
        </form>

        {% if errors %}
            <div class="error-messages">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </main>
{% endblock %}
